/* -----------------------------------------------------
	Base
----------------------------------------------------- */
* { margin: 0; padding: 0; }
html, body { height: 100%; margin: 0 0 1px 0; padding: 0; }
body { font: 13px Arial, Helvetica, sans-serif; color: #252525; background: #fff; }

/* -----------------------------------------------------
	Structure
----------------------------------------------------- */
#mast_head { margin: 0 auto; padding: 20px 0; width: 980px; }
#branding,
#tagline { display: inline; float: left; text-indent: -99999px; }
#branding { background: url(/images/logo_pluginhub.png) no-repeat 0 50%; border-right: 1px solid #ccc; height: 58px; padding: 10px 0; width: 242px; }
#tagline { background: url(/images/tagline_mast_head.png) no-repeat 0 50%; display: block; height: 58px; margin-left: 30px; padding: 10px 0; width: 607px; }

/* -----------------------------------------------------
	Features
----------------------------------------------------- */
#features { background: #000 url(/images/bg_features_repeat.png) repeat-x; border-top: 2px solid #222; }
#features > .inner { margin: 0 auto; padding: 40px 0; width: 980px; }
#features .columns {  }
#features .column { display: inline; float: left; width: 460px; }
#features .column > .inner {  }
/* -- [.column.one] -- */
#features .column.one {  }
/* -- [.column.two] -- */
#features .column.two { margin-left: 30px; }
/* -- [Block Styles] -- */
#features .block { margin-bottom: 40px; }
#features .block:last-child { margin-bottom: 0; }
#features .block.feature { padding-left: 68px; }
#features .block.track { background: url(/images/icons/48/clipboard.png) no-repeat; }
#features .block.rate { background: url(/images/icons/48/star.png) no-repeat; }
#features .block.discover { background: url(/images/icons/48/magic.png) no-repeat; }
#features .block.inform { background: url(/images/icons/48/bullhorn.png) no-repeat; }
#features .block.signup { position: relative; }
#features .block.signup img { position: absolute; top: 0; left: -60px; }
#features .block.signup p { font-size: 12px; margin-bottom: 15px; }
#features .block.signup input { font-family: Arial, sans-serif; font-size: 12px; padding: 9px; }
#features .block.signup label { display: none; }
#features .block.signup input[type="text"] { background: #fff url(/images/bg_input_shadow.png) no-repeat; border: 1px solid #888; width: 305px; }
#features .block.signup input[type="submit"] { background: #6d9e2d url(/images/bg_signup_submit.png) repeat-x 0 top;
border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px;
border-bottom-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;
border: 1px solid #608925; color: #fff; font-weight: bold; margin-left: -5px; padding: 8px 25px; text-transform: uppercase; }
#features .block.signup input[type="submit"]:hover { cursor: pointer; }
/* -- [Formatting] -- */
#features .column h2 { color: #fff; font-size: 20px; font-weight: normal; margin-bottom: 5px; }
#features .column p { color: #888; font-size: 14px; line-height: 1.4; margin-bottom: 0; }

/* -----------------------------------------------------
	Lower
----------------------------------------------------- */
#lower { background: #fff url(/images/bg_lower_repeat.png) repeat-x; }
#lower > .inner { margin: 0 auto; padding: 20px 0 0 0; width: 980px; }
#lower .columns {  }
#lower .column { display: inline; float: left; width: 460px; }
/* -- [.column.one] -- */
#lower .column.one {  }
/* -- [.column.two] -- */
#lower .column.two { margin-left: 30px; }
/* -- [Block Styles] -- */
#lower .block.who { background: #e2e2e2 url(/images/avatar_handcrafted.png) no-repeat right bottom; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
#lower .block.who > .inner { padding: 20px; position: relative; }
#lower .block.who > .inner img { position: absolute; top: -155px; right: -520px; }
/* -- [Formatting] -- */
#lower .column h2 { color: #252525; font-size: 20px; font-weight: normal; margin-bottom: 5px; }
#lower .column p { color: #555; font-size: 12px; line-height: 1.4; margin-right: 55px; }
#lower a { color: #000; font-weight: bold; }
/* -- [Footer] -- */
#lower .footer { border-top: 1px solid #ccc; font-size: 12px; margin: 0 auto; margin-top: 20px; padding: 15px 0; width: 980px; }

/* -----------------------------------------------------
	Form
----------------------------------------------------- */
fieldset { border: none; }
legend { display: none; }

/* -----------------------------------------------------
	Images
----------------------------------------------------- */
a img { border: none; }
p img { padding: 0; max-width: 100%; }
img.centered { display: block; margin: 15px auto; padding: 0; }
img.alignright { display: inline; margin: 15px 20px; }
img.alignleft { display: inline; margin: 15px 20px; }
.alignright { float: right; }
.alignleft { float: left; }

/* -----------------------------------------------------
	Links
----------------------------------------------------- */
a { color: #258; text-decoration: none; }
a:hover { color: #933; text-decoration: underline; }
a:focus, a:active { outline: none; }

/* -----------------------------------------------------
	Common, Misc...
----------------------------------------------------- */
.hidden, hr { display: none; }
.clear { clear: both; }

/* -----------------------------------------------------
	P.I.E. FLOAT CLEARING
	www.positioniseverything.net/easyclearing.html
----------------------------------------------------- */
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

/* Fixes IE/Mac */
.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */