.column.one
  .inner
    .block.feature.track
      %h2
        Track changes to your favorite plugins
      %p
        The vitality of conceptual synergies is of supreme importance whenever single-loop learning strategies go wrong, in order to build a shared view of what can be improved. The components and priorities for the change program.
    .block.feature.rate
      %h2
        Rate your favorite plugins
      %p
        The vitality of conceptual synergies is of supreme importance whenever single-loop learning strategies go wrong, in order to build a shared view of what can be improved. The components and priorities for the change program.
    .block.signup
      = image_tag("/images/icons/48/traffic_light.png")
      %h2
        Sign up to get notified when we launch!
      %p
        Our doors open soon. Join the mailing list and we'll tell you when to come back.
      %form{:action => "http://sendmail.gethandcrafted.com/t/r/s/mciu/", :method => "post"}
        %fieldset
          %legend Sign up for the PluginHub mailing list
          .row
            %label{:for => "mciu-mciu"} Email: 
            %input{:type => "text", :name => "cm-mciu-mciu", :id => "mciu-mciu"}
            %input{:type => "submit", :value => "Sign me up"}
.column.two
  .inner
    .block.feature.discover
      %h2
        Discover plugins you never knew existed
      %p
        The vitality of conceptual synergies is of supreme importance whenever single-loop learning strategies go wrong, in order to build a shared view of what can be improved. The components and priorities for the change program.
    .block.feature.inform
      %h2
        Inform the community about updates
      %p
        The vitality of conceptual synergies is of supreme importance whenever single-loop learning strategies go wrong, in order to build a shared view of what can be improved. The components and priorities for the change program.