!!! Strict
= render :partial => "layouts/meta_signature"
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :'xml:lang' => "en"}
  %head
    %title Pluginhub - Plugin Directory
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    = stylesheet_link_tag 'style','alerts' , :cache => "pluginhub_css"
  %body
    #mast_head.clearfix
      %p#branding
        Pluginhub
      %p#tagline
        It just became so simple to track, rate and discover plugins for Rails, Merb, TextMate, jQuery and more.
    #features.columns
      .inner.clearfix
        .column.one
          .inner
            .block.feature.track
              %h2
                Track changes to your favorite plugins
              %p
                The vitality of conceptual synergies is of supreme importance whenever single-loop learning strategies go wrong, in order to build a shared view of what can be improved. The components and priorities for the change program.
            .block.feature.rate
              %h2
                Rate your favorite plugins
              %p
                The vitality of conceptual synergies is of supreme importance whenever single-loop learning strategies go wrong, in order to build a shared view of what can be improved. The components and priorities for the change program.
            .block.signup
              = image_tag("/images/icons/48/traffic_light.png")
              %h2
                Sign up to get notified when we launch!
              %p
                Our doors open soon. Join the mailing list and we'll tell you when to come back.
              %form{:action => "/"}
                %fieldset
                  %legend Sign up for the Pluginhub mailing list
                  .row
                    %input{:type => "text"}
                    %input{:type => "submit", :value => "Sign me up"}
        .column.two
          .inner
            .block.feature.discover
              %h2
                Discover plugins you never knew existed
              %p
                The vitality of conceptual synergies is of supreme importance whenever single-loop learning strategies go wrong, in order to build a shared view of what can be improved. The components and priorities for the change program.
            .block.feature.inform
              %h2
                Inform the community about updates
              %p
                The vitality of conceptual synergies is of supreme importance whenever single-loop learning strategies go wrong, in order to build a shared view of what can be improved. The components and priorities for the change program.